.bg-light.py-5.my-2
  - if @user == current_user
    %h2.text-center.text-primary= t('.my_posts')
  - else
    %h2.text-center.text-primary= t('.posts_by', author: @user.decorate.full_name)
    .d-flex.justify-content-center.align-items-center.mt-2
      = link_to t('.back'), :back, class: 'btn btn-link back-link fs-5'
      - if subscribed_to?(@user)
        = button_to t('.unsubscribe'), subscription_path(@user), method: :delete, data: { turbo: false },
          class: 'btn btn-link text-danger fs-5'
      - else
        = button_to t('.subscribe'), subscriptions_path(id: @user.id), method: :post, data: { turbo: false },
          class: 'btn btn-link text-primary fs-5'
  .row.justify-content-md-center
    .col-8.text-center
      - if @posts.any?
        %ul.list-group
          = render @posts
      - else
        .alert.alert-warning.text-center
          = t('.no_posts_found')
    - if @pagy.pages > 1
      .col-10.justify-content-center.pagination.mt-4
        != pagy_bootstrap_nav @pagy
