.p-5.mt-4.bg-light.rounded-3.shadow-sm
  .container
    %h1.text-center.text-primary= @post.title
    %h6.text-muted.text-center
      = t('.author')
      = link_to @post.author, posts_path(user_id: @post.user_id), data: { turbo: false },
        class: 'btn btn-link'
    %hr
    .mt-4
      %p= @post.body
    .mt-4.text-center
      = link_to t('.comment'), new_post_comment_path(@post), class: 'btn btn-warning'
      = link_to t('.back'), :back, class: 'btn btn-secondary'
.mt-5
  %h3.text-center.text-primary= t('.comments')
  - @comments.each do |comment, children|
    = render partial: 'comments/comment', locals: { comment:, children: }
